{% extends 'mikemeierDemoPHPNodeBridge::layout.html.twig' %}

{% block content %}
    <h1>Welcome to the PHPNodeBridge Demo</h1>
    <a href="{{ url('userlist') }}">Who's online?</a>
{% endblock content %}