<html>
    <head>
        <title>{% block title %}PHPNodeBridge{% endblock title %}</title>

        <style type="text/css">
            body{
                font-family: verdana;
                font-size: 8pt;
            }
        </style>

        {{ phpnodebridgejs('bridge') }}


    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>