<html>
    <head>
        <title>{% block title %}PHPNodeBridge{% endblock title %}</title>

        <style type="text/css">
            body{
                font-family: verdana;
                font-size: 8pt;
            }
        </style>

        {% block javascript %}
            {% javascripts
                "@mikemeierPHPNodeBridgeBundle/Resources/public/js/bridge.js"
                "@mikemeierDemoPHPNodeBridge/Resources/public/js/jquery-1.8.3.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {{ phpnodebridgejs('bridge') }}
        {% endblock javascript %}

    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>