<html>
    <head>
        <title>{% block title %}PHPNodeBridge{% endblock title %}</title>

        <style type="text/css">
            body{
                font-family: verdana;
                font-size: 8pt;
            }
        </style>

        {% javascripts "@mikemeierPHPNodeBridgeBundle/Resources/public/js/bridge.js" %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {{ phpnodebridgejs() }}

    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>